.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    
    
}
.col {
    transition: transform 0.2s ease-in-out;
}

.col:hover {
    transform: scale(1.03);
}
.book-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card {
    height: 100%;
    display: flex;
    width: 200px;
    flex-direction: column;
}

.card-body {
    padding: 2px;
    flex-grow: 1;
}
body {
  background-color: #F5E7C4;
  color: #3b2f22;
  font-family: Georgia, serif;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.08;
  background-image:
    radial-gradient(circle at 20% 20%, rgba(0,0,0,0.03) 1px, transparent 1px),
    radial-gradient(circle at 80% 60%, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 8px 8px, 12px 12px;
}
a{
    text-decoration: none;
}

/* Inactive tabs */
.nav-tabs .nav-link {
  color: #6b4f2a;
  background-color: #f5e7c4;
  border-color: #d8c7a3;
}

/* Hover */
.nav-tabs .nav-link:hover {
  color: #3b2f22;
  background-color: #efe0b8;
}

/* Active tab */
.nav-tabs .nav-link.active {
  color: #3b2f22;
  background-color: #fdf8ea;
  border-color: #d8c7a3 #d8c7a3 #fdf8ea;
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;    /* centers horizontally */
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;         /* centers the container on the page */
    
}

.book-container img {
    width: 250px;           /* adjust size as needed */
    height: auto;
    margin-bottom: 20px;
    margin-top: 25px;
}

button {
  background-color: #5b4630;
   color: #d8c7a3;
   margin-top: 5px;
   border-radius: 8px;
}
button a{
  background-color: #5b4630;
   color: #d8c7a3;
   margin-top: 5px;
   border-radius: 8px;
}

#contactForm{
  text-align: center;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  padding-left: 20px;
  background-color:#FFF8E8;
  padding: 15px;
  margin-left: 20px;
}
