.card {
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
    transition: transform 0.2s ease;
}

.final {
    transform: scale(1.05);
    border: 2px solid gold;
    background: #fffbe6;
}
body {
  background-color: #F5E7C4;
  color: #3b2f22;
  font-family: Georgia, serif;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.08;
  background-image:
    radial-gradient(circle at 20% 20%, rgba(0,0,0,0.03) 1px, transparent 1px),
    radial-gradient(circle at 80% 60%, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 8px 8px, 12px 12px;
}
a{
    text-decoration: none;
}

/* Inactive tabs */
.nav-tabs .nav-link {
  color: #6b4f2a;
  background-color: #f5e7c4;
  border-color: #d8c7a3;
}

/* Hover */
.nav-tabs .nav-link:hover {
  color: #3b2f22;
  background-color: #efe0b8;
}

/* Active tab */
.nav-tabs .nav-link.active {
  color: #3b2f22;
  background-color: #fdf8ea;
  border-color: #d8c7a3 #d8c7a3 #fdf8ea;
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;    /* centers horizontally */
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;         /* centers the container on the page */
    
}

.book-container img {
    width: 250px;           /* adjust size as needed */
    height: auto;
    margin-bottom: 20px;
    margin-top: 25px;
}

#spinBtn{
  background-color: #3b2f22;
   color: #d8c7a3;
   margin-top: 10px;
   border-radius: 8px;
}
#selector{
  width: 80%;
  margin-left: 10px;
}
#result, #cardFinal{
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
.book-img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}
button {
  background-color: #5b4630;
   color: #d8c7a3;
   margin-top: 5px;
   border-radius: 8px;
}
footer{
  padding-top: 10px;
}